.header-container {
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50%;
  margin:  auto;
  margin-top: 40px;
}

.header-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
