:root {
  --color-highlight: #dedede;
  --color-light: #abe9ef;
  --color-dark: #30838c;
}

.content {
  padding: 20px;
}

@media (min-width: 768px) {
  .content {
    padding: 20px 60px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-light);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-light) !important;
}

.content {
  background-color: var(--color-dark);
}

h1,
h2,
h3,
h4,
p {
  text-align: center;
}

h2 {
  font-size: 2.3em;
}

h3 {
  margin-bottom: 40px;
  font-size: 2em;
}

h4 {
  font-size: 1.2em;
  color: var(--color-highlight);
}

p {
  line-height: 2;
}

li {
  line-height: 2;
}

.button {
  color: #000;
  background-color: var(--color-highlight);
  border: solid 4px var(--color-highlight);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  transition: border 500ms ease-in;
  text-decoration: none;
}

.button:hover {
  border: solid 4px var(--color-light);
  transition: border 500ms ease-in;
}

.detail-info {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .detail-info {
    flex-direction: row;
  }
}

.detail-text {
  width: 90%;
  padding: 20px;
}

@media (min-width: 768px) {
  .detail-text {
    width: 50%;
  }
}

.detail-img-div {
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .detail-img-div {
    width: 50%;
  }
}

.padding {
  padding: 20px;
}

a.button {
  max-width: 100px;
}

input,
textarea {
  border: solid 2px var(--color-highlight);
  border-radius: 5px;
  color: #000;
  width: 100%;
}

::placeholder {
  color: var(--color-highlight);
  opacity: 1;
}

.align-left {
  text-align: left;
}
